---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import PostCard from "../../../components/PostCard.astro";
import { getCollection } from "astro:content";
import Pagination from "../../../components/Pagination.astro";
import type { BlogType } from "../../../content.config";

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const blogs: BlogType[] = await getCollection("blogs");
  const tags = [...new Set(blogs.flatMap((blog) => blog.data.tags))];

  return tags.flatMap((tag) => {
    const filteredBlogs = blogs
      .filter((blog) => blog.data.tags.includes(tag))
      .sort(
        (a, b) =>
          new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
      );
    return paginate(filteredBlogs, {
      params: { tag },
      pageSize: 8,
    });
  });
}

const { page } = Astro.props as { page: { data: BlogType[] } };
const { tag } = Astro.params as { tag: string };
---

<BaseLayout
  title={`Tag ${tag}`}
  description={`Blogs tagged with ${tag}`}
  author="RBI"
  url={`https://rbistudios.com/tags/${tag}/1`}
>
  <div class="center">
    <h1 class="sub-heading">{tag}</h1>
    <ul class="my-3 space-y-3">
      {
        page.data.map((blog: BlogType) => {
          return (
            <li>
              <PostCard
                title={blog.data.title}
                date={blog.data.date
                  .toLocaleDateString("en-GB", {
                    day: "numeric",
                    month: "short",
                  })
                  .slice(0, 11)}
                url={`/${blog.data.slug}`}
                tags={blog.data.tags}
              />
            </li>
          );
        })
      }
    </ul>
  </div>
  <Pagination page={page} />
</BaseLayout>
