---
import { getCollection } from "astro:content";
import type { BlogType } from "../../../content.config";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import PostCard from "../../../components/PostCard.astro";
import Pagination from "../../../components/Pagination.astro";
import Year from "../../../components/Year.astro";

const blogs: BlogType[] = await getCollection("blogs");
const years = [
  ...new Set(blogs.map((blog) => new Date(blog.data.date).getFullYear())),
];

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const blogs: BlogType[] = await getCollection("blogs");
  const years = [
    ...new Set(blogs.map((blog) => new Date(blog.data.date).getFullYear())),
  ];

  return years.flatMap((year) => {
    const filteredBlogs = blogs
      .filter((blog) => new Date(blog.data.date).getFullYear() === Number(year))
      .sort(
        (a, b) =>
          new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
      );

    return paginate(filteredBlogs, {
      params: { year },
      pageSize: 8,
    });
  });
}

const { page } = Astro.props as { page: { data: BlogType[] } };
const { year } = Astro.params as { year: string };
---

<BaseLayout
  title={`Year ${year}`}
  description={`Blogs published in the year ${year}`}
  author="RBI"
  url={`https://rbistudios.com/archive/${year}/1`}
>
  <div class="center">
    <div class="flex items-center gap-8">
      <a href="/archive/1" class="heading">Archive</a>
      <Year years={years} />
    </div>
    <ul class="my-3 space-y-3">
      {
        page.data.map((blog: BlogType) => {
          return (
            <li>
              <PostCard
                title={blog.data.title}
                date={blog.data.date
                  .toLocaleDateString("en-GB", {
                    day: "numeric",
                    month: "short",
                  })
                  .slice(0, 11)}
                url={`/${blog.data.slug}`}
                tags={blog.data.tags}
              />
            </li>
          );
        })
      }
    </ul>
  </div>
  <Pagination page={page} />
</BaseLayout>
