---
const { title, date, url, tags, readTime } = Astro.props;
import IconChevronRight from "../assets/icons/chevron-right.svg";
import IconArrowRight from "../assets/icons/arrow-right.svg";
import IconCalendarWeek from "../assets/icons/calendar-week.svg";
import IconClockHour3 from "../assets/icons/clock-hour-3.svg";
---

<a
  href={url}
  class="hover:bg-accent hover:ring-accent group ring-background animation flex h-full flex-col gap-3 rounded-lg pb-3 shadow-lg ring-3 select-none hover:shadow-none hover:ring-3 active:ring-0 dark:shadow-2xl"
>
  <div class="mx-4 mt-2 flex justify-between gap-6">
    <h3
      class="text-foreground group-hover:text-background animation animation self-start rounded-lg text-xl opacity-90 group-hover:font-semibold group-hover:tracking-wide"
    >
      {title}
    </h3>
    <div class="mt-1 flex">
      <IconArrowRight
        class="stroke-background animation size-0 stroke-2 group-hover:size-6"
      />
      <IconChevronRight
        class="stroke-foreground animation size-6 stroke-1 group-hover:size-0"
      />
    </div>
  </div>
  <div>
    <div class="mx-4 flex flex-wrap gap-6 opacity-80 group-hover:mb-0">
      <div class="flex gap-1 font-mono">
        <IconCalendarWeek
          class="stroke-foreground animation size-4 translate-y-0.25 stroke-1 group-hover:size-0"
        />
        <p class="animation text-sm group-hover:text-[0rem]">
          {date}
        </p>
      </div>
      <div class="flex gap-1 font-mono">
        <IconClockHour3
          class="stroke-foreground animation size-4 translate-y-0.5 stroke-1 group-hover:size-0"
        />
        <p class="animation text-sm group-hover:text-[0rem]">
          {readTime} min read
        </p>
      </div>
    </div>
    <div class="mx-3 flex flex-wrap">
      {
        tags.map((tag: string) => (
          <p class="ring-foreground bg-background animation mx-1 rounded-lg px-3 pb-0.5 text-[0rem] opacity-90 group-hover:text-sm">
            {tag}
          </p>
        ))
      }
    </div>
  </div>
</a>
