---
const { frontmatter, readTime } = Astro.props;
import IconCalendarWeek from "../assets/icons/calendar-week.svg";
import IconClockHour3 from "../assets/icons/clock-hour-3.svg";
import IconTag from "../assets/icons/tag.svg";
import CopyButton from "../components/CopyButton";
import IconEdit from "../assets/icons/edit.svg";
---

<h1 class="blog-title">
  {frontmatter.title}
</h1>
<div
  class="flex flex-col items-start justify-between gap-3 select-none sm:flex-row"
>
  <div class="mt-2 space-y-1">
    <div class="flex gap-8">
      <div class="flex gap-2">
        <IconCalendarWeek class="size-5 stroke-1" />
        <p class="font-mono text-base opacity-90">
          {
            frontmatter.date
              .toLocaleDateString("en-GB", {
                day: "numeric",
                month: "short",
                year: "numeric",
              })
              .slice(0, 11)
          }
        </p>
      </div>
      <div class="flex gap-2">
        <IconClockHour3 class="size-5 translate-y-0.25 stroke-1" />
        <p class="font-mono text-base opacity-90">{readTime} min read</p>
      </div>
    </div>
    <div class="group flex items-center gap-2">
      <IconTag
        class="fill-background stroke-foreground group-hover:fill-foreground group-hover:stroke-background size-5 stroke-1"
      />
      <div class="space-x-2">
        {
          frontmatter.tags.map((tag: string) => (
            <a
              href={`/tags/${tag}/1`}
              class="hover:text-accent text-base opacity-90"
            >
              {tag}
            </a>
          ))
        }
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center gap-3">
    <CopyButton client:idle />
    {
      frontmatter.editable ? (
        <a
          href={`rbistudios.com/blog/${frontmatter.slug}.md`}
        >
          <IconEdit class="stroke-foreground stroke-1 hover:stroke-2" />
        </a>
      ) : (
        ""
      )
    }
  </div>
</div>
