---
import ProgressBar from "../components/ProgressBar";
import BaseLayout from "./BaseLayout.astro";
import Title from "../components/Title.astro";

const { frontmatter, readTime } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  author={frontmatter.author}
  url={`https://rbistudios.com/${frontmatter.slug}`}
  pubDate={frontmatter.date}
>
  <ProgressBar client:idle />
  <article>
    <div class="center">
      <Title frontmatter={frontmatter} readTime={readTime} />
      <section class="markdown">
        <slot />
      </section>
    </div>
  </article>
</BaseLayout>
